<!DOCTYPE html>
<html>
<head>
  <title>Nationals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<link rel="stylesheet" media="all" href="http://paddlesoft.herokuapp.com/assets/application-b5334fe90e97a0cf84c0ccba1d97f45f.css">  </link>  
</head>
<body>

<%= yield %>

</body>
</html> 
